<div class="container">
    <div class="row">
      <div class="col">
  
      </div>
      <div class="col-10">
  
        &nbsp;
        <div style="text-align: center">
            <h1 style="text-align: center; color: rgb(0, 170, 167);">School Ticketing Management System</h1>
            <h4 style="text-align: center">Predict It Early, Fix It Smart</h4>
            <button style="margin-top: 3%;" class="btn btn-success" type="button">
            <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
            &nbsp;
            <span role="status" (click)="clickMeButton()">Click me</span>
          </button>
        </div>  
      </div>
  
      <div class="col">
  
      </div>
    </div>
  </div>
  
  
  
  