<!--navigation bar-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <!--    <img src="../../../assets/logo.png" alt="Logo" width="30" height="30">-->
      &nbsp;
      <a class="navbar-brand" href="/navigation/template" style="color: rgb(0, 170, 167);"><b>STMS</b></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" >
            <a class="nav-link active" aria-current="page" href="/navigation/home" style="color: blue">HOME</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link active" aria-current="page" href="/navigation/ticket" style="color: blue">TICKETS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/navigation/profile" style="color: blue">PROFILE</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <a class="nav-link active" aria-current="page" (click)="clickOnLogout()" style="color: blue">LOGOUT</a>
        </form>
      </div>
    </div>
  </nav>

  <div id="container">
    <router-outlet />
</div>
  